{% extends 'main.html' %}
{% load bootstrap3 %}

{% block title %}Вход в систему{% endblock %}

{% block main_content %}
    <h2 class="terminal">Вход в систему</h2>
    <div class="terminal1 signin_form">
        <form method="post" action="." class="form-horizontal">
            {% csrf_token %}
            {% bootstrap_form form %}
            {%  buttons %}
                <button type="submit" class="btn btn-primary">Вход</button>
            {% endbuttons %}
        </form>



    </div>
{% endblock %}