{% extends "main.html" %}

{% block title %}Volga SchoolCTF 2014{% endblock %}

{% block main_content %}
<h2>Volga SchoolCTF 2014</h2>
<p>
Соревнования  формата  CTF ­ это соревнования,  в которых  игрокам  предоставляется
набор  заданий  (тасков),  к  которым  требуется  найти  ответ  и  отправить  его.  Ответом
является  флаг ­  набор  символов  или  произвольная  фраза.  Каждое  задание  оценивается
различным  количеством  очков,  в  зависимости  от  сложности.  Обычно  выделяются
следующие категории:
</p>

admin — задачи на администрирование<br/>
joy  —  различные  развлекательные  задачи  вроде  коллективной  фотографии  или  игры  в какую­нибудь мини­игру<br/>
reverse — исследование программ без исходного кода (Реверс­инжиниринг)<br/>
stegano — стеганография<br/>
ppc — задачи на программирование (professional programming and coding)<br/>
crypto — криптография<br/>
web — задачи на web­уязвимости, такие как SQL­Injection, XSS и другие<br/>
    <br/>
<p>
Существует  множество  соревнований  в  указанном  формате  по  всему  миру,  в  частности,
VolgaCTF, которые проводятся среди студентов в городе Самаре.</p>
<p>
Соревнования  в  области  информационной  безопасности  School  VolgaCTF  проводятся
впервые  и  предназначены  для  учащихся  школ  Самарской  области.  Соревнования
организованы на площадке Самарского государственого университета и проходят в очной
форме.</p>
<p>
Организаторы  соревнований  желают  участникам  удачи  и  надеются,  что  вам  будет
интересно!!!
</p>
{% endblock %}