{% extends "main.html" %}

{% block title %}CTF Forever{% endblock %}

{% block main_content %}
<h2 class="terminal">CTF Forever</h2>
<p class="terminal1">
Соревнования формата CTF — командные состязания, которые проходят по принципу игры «Захват флага», но на просторах IT-технологий. Командам-участникам предоставляется набор заданий (тасков), к которым требуется найти ответ и отправить его жюри. Ответом может быть набор символов или произвольная фраза — это и есть флаг. Каждый таск оценивается различным количеством очков, в зависимости от сложности.
</p></br>

<h5 class="terminal2">
	<a data-toggle="collapse" data-parent="#accordion" href="#collapseFirst" >
    Чаще всего выделяют следующие категории:
	</a>
</h5>

<div class="panel panel-default">
	<div class="navbar-header">
	</div>
	<div id="collapseFirst" class="panel-collapse collapse">
		<div class="panel-body">
			<p class="terminal1">
			reverse — исследование программ без исходного кода (на уровне ассемблера)<br/>
			stegano — стеганография (сообщения, спрятанные в файлах различными способами)<br/>
			admin — задачи на системное администрирование (связанные со знанием устройства и функционирования различных операционных систем)<br/>
			ppc — задачи на программирование, связанные с хорошим пониманием разнообразных алгоритмов<br/>
			crypto — криптография (разнообразные методы взлома зашифрованных сообщений)<br/>
			web — задачи на web­уязвимости, такие как sql ­ injection, xss и другие<br/>
			joy  —  различные  развлекательные  задачи, чтобы еще и весело провести время игры в CTF<br/>
			</p>
		</div>
	</div>
</div>
<p class="terminal1">
	Участие в таких соревнованиях позволяет студентам стать настоящими специалистами самого высокого уровня, учиться не по записям в тетрадях, а на реальных технологиях, с которыми им придется в дальнейшем работать в IT - сфере.</p></br>

<h5 class="terminal2">
	<a data-toggle="collapse" data-parent="#accordion" href="#collapseSecond" >
    Существует  множество  соревнований  в  указанном  формате  по  всему  миру, вот только некоторые из них:
	</a>
</h5>

<div class="panel panel-default">
	<div class="navbar-header">
	</div>
	<div id="collapseSecond" class="panel-collapse collapse">
		<div class="panel-body">

		<p class="terminal1">
			<a href="https://defcon.org/">DEFCON</a> - соревнования, которые являются прородителями CTF движения и собирают сильнейших хакеров со всего мира.</p>

		<p class="terminal1">
			<a href="http://www.phdays.ru/">PHDays</a>, организаторами которых является Московская компания <a href="http://ptsecurity.ru/">Positive Technologies</a>, проводящая исследования существующих компьютерных систем на предмет уязвимостей.</p>

		<p class="terminal1">
			<a href="http://ructf.org/2015/">RuCTF</a> - первые Всероссийские CTF соревнования, в которых соревнуются студенты Российских ВУЗов.</p>

		<p class="terminal1">
			<a href="http://volgactf.ru/">VolgaCTF</a>  - соревнования, которые проводятся среди студентов в городе Самаре на базе Аэрокосмического Университета.</p>

		</div>
	</div>
</div>

<p class="terminal1">
</br>
Проект CTF Forever призван обеспечить возможность постоянной подготовки студентов в разнообразных аспектах компьютерной безопасности, позволяя новичкам в CTF движении быстрее входить "в тему", а игрокам с опытом - совершенствовать свои знания.</br></br>

Проект поддержвается силами представителей СамГУ, СамГТУ и СГАУ.</br></br>

Докажи соперникам, что Ты - лучший хакер!</br></br>
</p>
{% endblock %}