{% load school_extras %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-COMPATIBLE" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{{ STATIC_URL }}css/bootstrap.min.css">
    <link rel="stylesheet" href="{{ STATIC_URL }}css/toaster.min.css">
    <link rel="stylesheet" href="{{ STATIC_URL }}css/main.css">
    <link rel="stylesheet" href="{{ STATIC_URL }}css/terminal.css">
    <script type="text/javascript" src="{{ STATIC_URL }}js/jquery.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/toaster.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/main.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/bootstrap.min.js"></script>
    <title>{% block title %}{% endblock %}</title>
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <a class="navbar-brand terminal" href="/">CTF Forever</a>
        </div>
        <div class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
              <li>
                  <a href="{% url 'scoreboard.views.tasks' %}" class="navbar-link">Задания</a>
              </li>
               <li>
                  <a href="/rules/" class="navbar-link">Правила соревнований</a>
              </li>
          </ul>
            {% if not user.is_authenticated %}
          <form class="navbar-form navbar-right" role="form" action="{% url 'scoreboard.views.login_user' %}" method="POST">
            {% csrf_token %}
            <div class="form-group">
              <input type="text" placeholder="Название команды" class="form-control" name="username">
            </div>
            <div class="form-group">
              <input type="password" placeholder="Пароль" class="form-control" name="password">
            </div>
            <button type="submit" class="btn btn-success">Войти</button>
          </form>
            {% else %}
                <p class="navbar-text pull-right">
                    Привет, {{ user.team_name }} <a href="{% url 'scoreboard.views.logout_user' %}">Выйти</a>
                </p>
            {% endif %}
        </div><!--/.navbar-collapse -->
      </div>
    </div>
    <div class="container" id="main_container">
        <div class="row">
            <div class="col-md-2" id="news_column">
               {% news_block news_pk %}
            </div>
            <div class="col-md-8" id="main_content">
                {% block main_content %}{% endblock %}
            </div>
            <div class="col-md-2" id="results">
                {% results %}
            </div>
        </div>
    </div>

<div id="message" style="display: none">
    {% if messages %}
            {% for message in messages %}
                {{ message }}
            {% endfor %}
    {% endif %}
</div>
</body>
</html>